<h1>{{PageTitle}}</h1>


<div class="card">
    <input type="text" [(ngModel)]='listFilter'>
</div>
<div class="btn btn-primary" (click)='toggleImage()'>{{showImage ? 'Hide' : 'Show'}} Image</div>



<h3>Filters : {{listFilter}}</h3>

<table class="table"  *ngIf='products && products.length'>
    <thead>
      <tr>
        <th>Image</th>
        <th>product Name</th>
        <th>product Code</th>
        <th>price</th>
        <th>star rating</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of filter">
            <td><img  *ngIf='showImage' title='product.productName' [src]='product.imageUrl' [style.width.px]='width' [style.margin.px]='margin'></td>
            <td><a [routerLink]="['/products',product.productId]">{{product.productName}}</a></td>
            <td>{{product.productCode | lowercase | convertSpace: '-'}}</td>
            <td>{{product.price | currency:'USD':'symbol':'1.2-2'}}</td>
            <td>{{product.starRating}}</td>
            <td><pm-stars-rating [rating]= 'product.starRating' (rightClick)="outputClick($event)"></pm-stars-rating></td>
        </tr>
    </tbody>
  </table>